<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        [formControl]="ngControl.control" 
        placeholder={{label}}>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please Enter A {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        {{label}} Must Be At Least {{ngControl.control.errors.minlength['requiredLength']}} Characters
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        {{label}} Must Be At Most {{ngControl.control.errors.maxlength['requiredLength']}} Characters
    </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Passwords Do Not Match</div>
</div>
